body {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 1px 15px;
}

.display {
  padding: 12px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  padding-top: 12px;
  padding-left: 12px;
}
